################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculatorLib/obj
/CalculatorLib/bin/Debug/net6.0
/CalculatorUApp/.vs
/CalculatorUApp/CalculatorUI/obj
/CalculatorUApp/CalculatorUI/bin/Debug/net6.0-windows
